<a href="https://colab.research.google.com/github/Likitha21092005/Week2Day1/blob/main/one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Area of a circle
r=eval(input())
area=3.14*r*r
print("Area of the circle is:",area)

2
Area of the circle is: 12.56

In [2]:
#Vowels count in a string
a = input("Enter a string: ")
vowels = 'aeiouAEIOU'
count = 0
for i in a:
    if i in vowels:
        count += 1
print("Number of vowels:", count)

Enter a string: hi
Number of vowels: 1

In [3]:
#Consonants count in a string
a = input("Enter a string: ")
vowels ='aeiouAEIOU'
count = 0
for i in a:
    if i not in vowels:
        count += 1
print("Number of consonants:", count)

Enter a string: hi
Number of consonants: 1

In [4]:
a=[30,42,56,70,45,35]
b=[]
for i in a:
    if i%5==0:
        b.append(i-5)
    else:
        b.append(i)
print(b)

[25, 42, 56, 65, 40, 30]

In [5]:
a=[23,24,45,67,99,54,20]
c=[]
d=[]
for i in range(len(a)):
    if i%2==0:
        c.append(a[i])
    else:
        d.append(a[i])
print(c)
print(d)

[23, 45, 99, 20]
[24, 67, 54]

In [6]:
#Sum of the elements at odd and even indexes
a=[20,35,45,30,60,75,85,45,25,40]
c=[]
d=[]
for i in range(len(a)):
    if i%2==0:
        c.append(a[i])
    else:
        d.append(a[i])
print(sum(c))
print(sum(d))

235
225

In [7]:
#Sum of odd and even indexes
a=[20,35,45,30,60,75,85,45,25,40]
c=[]
d=[]
for i in range(len(a)):
    if i%2==0:
        c.append(i)
    else:
        d.append(i)
print(sum(c))
print(sum(d))

20
25

In [8]:
a=["Delhi", "dubai", "Dallas", "Dublin","Cairo", "Chicago", "copenhagen","Mumbai", "Madrid", "manila","Karachi", "kyoto", "Kyiv"]
d=[]
c=[]
m=[]
k=[]
for i in a:
    if i[0]=='D' or i[0]=='d':
        d.append(i)
    elif i[0]=='C' or i[0]=='c':
        c.append(i)
    elif i[0]=='M' or i[0]=='m':
        m.append(i)
    else:
        k.append(i)

print(d)
print(c)
print(m)
print(k)

['Delhi', 'dubai', 'Dallas', 'Dublin']
['Cairo', 'Chicago', 'copenhagen']
['Mumbai', 'Madrid', 'manila']
['Karachi', 'kyoto', 'Kyiv']