<a href="https://colab.research.google.com/github/Likitha21092005/Week-2/blob/main/Two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Area of circle
r=eval(input())
def aoc(r):
    area=3.14*r*r
    return area
print(aoc(r))

2
12.56

In [2]:
n=input("Enter a string")
def vowels(n):
    vowels="aeiouAEIOU"
    c=0
    for i in n:
        if i in vowels:
            c += 1
    return c
print("Number of vowels in the string:",vowels(n) )

Enter a stringabc
Number of vowels in the string: 1

In [3]:
n=input("Enter a string")
def vowels(n):
    vowels="aeiouAEIOU"
    c=0
    for i in n:
        if i not in vowels:
            c += 1
    return c
print("Number of consonants in the string:",vowels(n) )

Enter a stringabc
Number of consonants in the string: 2

In [4]:
a = ["Mumbai", "Hyd","delhi", "Dubai", "Jaipur", "Kolkata", "Chennai", "Dadar"]
b = [50,40,30,20,100,350,280,200]
c = dict(zip(a,b))
print(c)

{'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}

In [5]:
s={'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}
for i in s:
    if s[i]<100:
        print(i)

Mumbai
Hyd
delhi
Dubai